﻿<%@ Page Language="VB" AutoEventWireup="true" CodeFile="counter.aspx.vb" Inherits="_Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>


<body style="background-color: #99ccff">
    <form id="form1" runat="server">
        <asp:ScriptManager ID="ScriptManager1" runat="server" />
            <asp:Timer ID="Timer1" runat="server" Interval="4000">
            </asp:Timer>
        <br />
        <div>
            &nbsp;<table border="0" cellpadding="0" cellspacing="0" style="width: 568px">
            <tr>
                <td style="width: 57px; height: 19px;">
                    <asp:Label ID="Label2" runat="server" Text="Usuario:" Font-Names="Arial" Font-Size="Small"></asp:Label></td>
                <td style="width: 100px" rowspan="2">
                  
                    <asp:Label ID="Label3" runat="server" Text="Usuarios en Linea:" Width="128px" Font-Names="Arial" Font-Size="Small"></asp:Label>
                    <asp:Label ID="Label1" runat="server" BackColor="White" BorderColor="Black" Font-Names="Arial"
                        ForeColor="Black" Font-Bold="True" Font-Size="Small"></asp:Label></td>
            </tr>
            <tr>
                <td style="width: 57px; height: 19px;">
                    <asp:Label ID="lb_user" runat="server" BackColor="White" BorderColor="Black" Font-Bold="True"
                        Font-Names="Arial" Font-Size="Small" ForeColor="Black"></asp:Label></td>
            </tr>
        </table>
        </div>
        <asp:UpdatePanel ID="UpdatePanel1" runat="server">
            <ContentTemplate>
                &nbsp;
            </ContentTemplate>
        </asp:UpdatePanel>
        <asp:Label ID="Label4" runat="server" Text="Label"></asp:Label>
    </form>
</body>
</html>
