<%@ Language=VBScript %>
<script language="JavaScript" type="text/JavaScript">
<!--
var URL;
URL = "http://bogevaprp/portaldereuniones/EnvioMailMonitor.asp";

window.open(URL,"mail","width=500, height=350, scrollbars=no, menubar=no, location=no, resizable=no");
// -->
</script>

<html>
<head>
<title>Mail</title>
</head>
<script language="javascript">
function cerrarV(){
/*Cerrar la ventana sin preguntar y despues de 4 segundos */
setTimeout("javascript: window.opener='self'; self.window.close();",4000)
}

</script>
<body onLoad="cerrarV()">
</body>
</html> 


