TD
{
    FONT-SIZE: 6pt;
    COLOR: #000000;
    FONT-FAMILY: Arial,Verdana,Helvetica,Tahoma
}
TD.Black
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    COLOR: #ffffff;
    FONT-FAMILY: verdana,arial,helvetica;
    BACKGROUND-COLOR: #3366cc
}

TD.Comentarios
{
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: Arial,Verdana,Helvetica,Tahoma
}

TD.GrisU
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR:#000066;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #D5E3EA
}

TD.Comentariostbg
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Arial,Verdana,Helvetica,Tahoma
}

TD.AzulClaro
{
    FONT-SIZE: 7pt;
    COLOR:black;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    BACKGROUND-COLOR: #00CCFF;
}

TD.Gris_Con_Linea {
    BORDER-RIGHT: rgb(200,200,200) thin solid; 
    BORDER-TOP: rgb(200,200,200) thin solid; 
    BORDER-LEFT: rgb(200,200,200) thin solid; 
    BORDER-BOTTOM: rgb(200,200,200) thin solid;  
    FONT-WEIGHT: bold;    FONT-SIZE: 8pt;    COLOR: darkblue;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    BACKGROUND-COLOR:  #efefef; LINE-HEIGHT: 12pt;
}

TD.Gris {
  BORDER-RIGHT: rgb(200,200,200) thin solid; 
  BORDER-TOP: rgb(200,200,200) thin solid; 
  BORDER-LEFT: rgb(200,200,200) thin solid; 
  BORDER-BOTTOM: rgb(200,200,200) thin solid;  
  FONT-SIZE: 7pt; Color: darkblue; 
  FONT-FAMILY:  Arial, Verdana, Helvetica, sans-serif; 
  BACKGROUND-COLOR: #efefef; LINE-HEIGHT: 12pt; 
}

TD.Rojo {
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; 
    BACKGROUND-COLOR:  #FF8080; 
}
TD.Verde {
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; 
    BACKGROUND-COLOR:  #00FF33; 
}
TD.Amarillo {
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; 
    BACKGROUND-COLOR:  #FFFF00; 
}

TD.AmarilloClaro {
    FONT-SIZE: 6pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR:  #f4f5dc;    
   }
   
TD.Amarilloclaro2 {
	FONT-WEIGHT: normal; FONT-SIZE: 7pt; COLOR: #000000; FONT-FAMILY: verdana,arial,helvetica; BACKGROUND-COLOR: #f4f5dc
}

TD.Inf {
   BORDER-RIGHT: rgb(200,200,200) thin solid; 
   BORDER-TOP: rgb(200,200,200) thin solid; 
   BORDER-LEFT: rgb(200,200,200) thin solid; 
   BORDER-BOTTOM: rgb(200,200,200) thin solid;  
   FONT-STYLE: normal; FONT-SIZE: 7pt; 
   Color: #000000; FONT-FAMILY: Helvetica, sans-serif,Verdana, Arial;  
   BACKGROUND-COLOR: #f4f5dc; LINE-HEIGHT: 12pt;   
   }

TD.InfVBS {
   TEXT-ALIGN: center;
   BORDER-RIGHT: rgb(200,200,200) thin solid; 
   BORDER-TOP: rgb(200,200,200) thin solid; 
   BORDER-LEFT: rgb(200,200,200) thin solid; 
   BORDER-BOTTOM: rgb(200,200,200) thin solid;  
   FONT-STYLE: normal; FONT-SIZE: 8pt; 
   Color: #0000FF; FONT-FAMILY: Helvetica, sans-serif,Verdana, Arial;  
   BACKGROUND-COLOR: #f4f5dc; LINE-HEIGHT: 12pt;   
   }
   
TABLE.ROLES {
	BACKGROUND-COLOR: #f4f5dc;
	border: medium solid #CCCCCC;

   }


TD.InfVBN {
   TEXT-ALIGN: center;
   BORDER-RIGHT: rgb(200,200,200) thin solid; 
   BORDER-TOP: rgb(200,200,200) thin solid; 
   BORDER-LEFT: rgb(200,200,200) thin solid; 
   BORDER-BOTTOM: rgb(200,200,200) thin solid;  
   FONT-STYLE: normal; FONT-SIZE: 8pt; 
   Color: #FF0000; FONT-FAMILY: Helvetica, sans-serif,Verdana, Arial;  
   BACKGROUND-COLOR: #f4f5dc; LINE-HEIGHT: 12pt;   
   }

TD.SubDatos {
   BORDER-RIGHT: rgb(200,200,200) thin solid; 
   BORDER-TOP: rgb(200,200,200) thin solid; 
   BORDER-LEFT: rgb(200,200,200) thin solid; 
   BORDER-BOTTOM: rgb(200,200,200) thin solid;  
   FONT-WEIGHT: normal; FONT-SIZE: 7pt; 
   COLOR: #000000; FONT-FAMILY: : Helvetica, sans-serif,Verdana, Arial;  
   BACKGROUND-COLOR: #cdcfff; LINE-HEIGHT: 12pt;    
   }

TD.ColForm_cal {
   BORDER-RIGHT: rgb(200,200,200) thin solid; 
   BORDER-TOP: rgb(200,200,200) thin solid; 
   BORDER-LEFT: rgb(200,200,200) thin solid; 
   BORDER-BOTTOM: rgb(200,200,200) thin solid;  
   FONT-STYLE: normal; FONT-SIZE: 7pt; 
   Color: WHITE; FONT-FAMILY: Helvetica, sans-serif,Verdana, Arial;  
   BACKGROUND-COLOR: RED; LINE-HEIGHT: 15pt;      
   }

TD.Desb {
   BORDER-RIGHT: rgb(200,200,200) thin solid; 
   BORDER-TOP: rgb(200,200,200) thin solid; 
   BORDER-LEFT: rgb(200,200,200) thin solid; 
   BORDER-BOTTOM: rgb(200,200,200) thin solid;  
   FONT-WEIGHT: bold; FONT-SIZE: 7pt; COLOR:  #ffffff; 
   FONT-FAMILY: verdana,arial,helvetica; 
   BACKGROUND-COLOR: #3366CC
   }   

TD.lilac {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: verdana,arial,helvetica; BACKGROUND-COLOR: #cdcfff
}

TD.white {
	FONT-WEIGHT: normal; FONT-SIZE: 7pt; COLOR: #000000; FONT-FAMILY: verdana,arial,helvetica; BACKGROUND-COLOR: #ffffff
}

TD.white_Con_Linea {
    BORDER-RIGHT: rgb(200,200,200) thin solid; 
    BORDER-TOP: rgb(200,200,200) thin solid; 
    BORDER-LEFT: rgb(200,200,200) thin solid; 
    BORDER-BOTTOM: rgb(200,200,200) thin solid;  
    FONT-WEIGHT: bold;    FONT-SIZE: 8pt;    COLOR: #000000;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    BACKGROUND-COLOR:  #ffffff; LINE-HEIGHT: 12pt;
}

TD.heading {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #fdcb03; FONT-FAMILY: verdana,arial,helvetica; BACKGROUND-COLOR: #666699
}

A:visited
{
    FONT-FAMILY: Arial, Helvetica, sans-serif; 
    FONT-WEIGHT: bold;
    COLOR: #000080;
    FONT-size: 8pt;
}
A:link
{
    FONT-FAMILY: Arial, Helvetica, sans-serif; 
    FONT-WEIGHT: bold;
    COLOR: #000080;
    FONT-size: 8pt
}
A:hover
{
    FONT-FAMILY: Arial, Helvetica, sans-serif; 
    FONT-WEIGHT: bold;
    COLOR: #ff8000;
    FONT-size: 8pt
}
A.link_2:link
{
    FONT-FAMILY: Arial, Helvetica, sans-serif; 
    FONT-WEIGHT: bold;
    COLOR:#006666;
    FONT-size: 8pt;
}
A.link_2:Visited
{
    FONT-FAMILY: Arial, Helvetica, sans-serif; 
    FONT-WEIGHT: bold;
    COLOR:#006666;
    FONT-size: 8pt;
}
P.PLink2
{
   FONT-FAMILY: Arial, Helvetica, sans-serif; 
   FONT-SIZE: 8pt; 
   COLOR:#006666; 
   FONT-WEIGHT: bold;
}
A.link_3:link
{
    FONT-FAMILY: Arial, Helvetica, sans-serif; 
    FONT-WEIGHT: bold;
    COLOR:#0000FF;
    FONT-size: 8pt;
}
A.link_3:Visited
{
    FONT-FAMILY: Arial, Helvetica, sans-serif; 
    FONT-WEIGHT: bold;
    COLOR:#0000FF;
    FONT-size: 8pt;
}
P.PLink3
{
   FONT-FAMILY: Arial, Helvetica, sans-serif; 
   FONT-SIZE: 8pt; 
   COLOR:#0000FF; 
   FONT-WEIGHT: bold;
}
A.link_4:link
{
    FONT-FAMILY: Arial, Helvetica, sans-serif; 
    FONT-WEIGHT: bold;
    COLOR:Black;
    FONT-size: 8pt;
}
A.link_4:Visited
{
    FONT-FAMILY: Arial, Helvetica, sans-serif; 
    FONT-WEIGHT: bold;
    COLOR: red;
    FONT-size: 8pt;
}
A.link_5:link
{
    FONT-FAMILY: Arial, Helvetica, sans-serif; 
    FONT-WEIGHT: bold;
    COLOR:black;
    FONT-size: 8pt;
}
A.link_5:Visited
{
    FONT-FAMILY: Arial, Helvetica, sans-serif; 
    FONT-WEIGHT: bold;
    COLOR:#0000FF;
    FONT-size: 8pt;
}
A.Dos:link
{
    FONT-FAMILY: Arial, Helvetica, sans-serif; 
    FONT-size: 8pt;
    FONT-WEIGHT: bold;
    COLOR: White;
}
P
{
    FONT-FAMILY: Arial, Helvetica, sans-serif; 
    FONT-size: 8pt;
    FONT-WEIGHT: bold;
    COLOR: #000080;
}
B
{
    FONT-FAMILY: Arial, Helvetica, sans-serif; 
    FONT-size: 8pt;
    FONT-WEIGHT: bold;
    COLOR: Black;
}
P.Total
{
   FONT-FAMILY: Arial, Helvetica, sans-serif; 
   FONT-SIZE: 8pt; 
   COLOR: RED; 
   FONT-WEIGHT: bold;
}

P.Enunc1 {font-family:  Arial, Helvetica, sans-serif; 
          font-size: 8pt; 
          Font-Style:Normal;
          COLOR: Black;
          FONT-WEIGHT: bold;
          }

P.Enunc2 {font-family:  Arial, Helvetica, sans-serif; 
          font-size: 9pt; 
          Font-Style:Normal;
          COLOR:black;
          BACKGROUND-COLOR:#FFCC99;
          FONT-WEIGHT: bold;
          }
P.TituloPagina {font-family:  Arial, Helvetica, sans-serif; 
          font-size: 12pt; 
          Font-Style:Normal;
          COLOR: #003399;
          FONT-WEIGHT: bold;
          }
		  
  
P.EnuncErr {color=Red;font-family:  Arial, Helvetica, sans-serif; font-size: 10pt; Font-Style:Normal;FONT-WEIGHT: bold;}
P.Titulo {margin-left:1.3%;COLOR:#003399; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-STYLE: normal; FONT-WEIGHT: bold; LINE-HEIGHT: 12pt; TEXT-DECORATION: none}

SELECT    {
               FONT-FAMILY: Arial,Helvetica,Courier; 
               FONT-SIZE: 8pt
             }
INPUT     {
               FONT-FAMILY: Arial,Helvetica,Courier; 
               FONT-SIZE: 8pt
             }
BODY 
{
   scrollbar-face-color: #2668B3; scrollbar-shadow-color: #69A2E3; 
   scrollbar-highlight-color: #69A2E3; scrollbar-3dlight-color: #336699; 
   scrollbar-darkshadow-color: black; scrollbar-track-color: white; 
   scrollbar-arrow-color: #FFFFCE; margin-top=3px; margin-left=5px;
} 

B.saltopagina
{
PAGE-BREAK-AFTER:ALWAYS
}



  
TD.AmarilloclaroyRojo {

   TEXT-ALIGN: center;
   BORDER-RIGHT: rgb(200,200,200) thin solid; 
   BORDER-TOP: rgb(200,200,200) thin solid; 
   BORDER-LEFT: rgb(200,200,200) thin solid; 
   BORDER-BOTTOM: rgb(200,200,200) thin solid;  
   FONT-STYLE: normal; FONT-SIZE: 8pt; 
   Color: #FF0000; FONT-FAMILY: Helvetica, sans-serif,Verdana, Arial;  
   BACKGROUND-COLOR: #f4f5dc; LINE-HEIGHT: 12pt;
}
TD.AmarilloclaroDatos {
	TEXT-ALIGN: justify;
	FONT-STYLE: normal;
	FONT-SIZE: 7pt;
	Color: #000066;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #f4f5dc;
	LINE-HEIGHT: 10pt;
	border: thin solid #999999;

}
.ListData {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	line-height: 5px;
	background-color: #FFFFFF;
	height: 30px;
	width: 260px;

}
.ListDataDisp {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	line-height: 5px;
	background-color: #FFFFFF;
	height: auto;
	width: 360px;
	font-weight: normal;
	list-style-image: none;
	list-style-type: none;
	clear: none;
	float: none;
	overflow: auto;
	z-index: auto;
	display: run-in;
	text-align: center;







}
.Comentario {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	line-height: normal;
	background-color: #F2F7F9;
	height: 40px;
	width: 100%;
	font-weight: bold;
	list-style-image: none;
	list-style-type: none;
	clear: none;
	float: none;
	overflow: auto;
	display: block;
	text-align: justify;
	border: thin none #FFFFFF;
	color: #000000;


}
.INPUTROLES {
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif;
	FONT-SIZE: 8pt;
	color: #000000;
	background-color: #f4f5dc;

}
.ListDataOpciones {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: 5px;
	background-color: #D5E3EA;
	height: auto;
	width: auto;
	font-weight: normal;
	list-style-image: none;
	list-style-type: none;
	clear: none;
	float: none;
	overflow: auto;
	z-index: auto;
	display: run-in;
	text-align: center;
	color: #000000;

}
.ListDataUsuarios {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	line-height: 5px;
	background-color: #FFFFFF;
	height: auto;
	width: 360px;
	font-weight: normal;
	list-style-image: none;
	list-style-type: none;
	clear: none;
	float: none;
	overflow: auto;
	z-index: auto;
	display: run-in;
	text-align: center;
}
.optdesh {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FF0000;
}
.ListDataDispRolOpt {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	line-height: 5px;
	background-color: #FFFFFF;
	height: auto;
	width: 100%;
	font-weight: normal;
	list-style-image: none;
	list-style-type: none;
	clear: none;
	float: none;
	overflow: auto;
	z-index: auto;
	display: run-in;
	text-align: center;
}
.ListDataDispRoldeGrupo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	line-height: 5px;
	background-color: #FFFFFF;
	height: auto;
	width: 100%;
	font-weight: normal;
	list-style-image: none;
	list-style-type: none;
	clear: none;
	float: none;
	overflow: auto;
	z-index: auto;
	display: run-in;
	text-align: center;
	vertical-align: middle;

}
.TABLARPTROLES {
	FONT-WEIGHT: bold;
	FONT-SIZE: 9pt;
	COLOR:#000066;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #FFFFFF;
	border: thin solid #000066;

}
.TDTALBARPTROLES {
	FONT-WEIGHT: normal;
	FONT-SIZE: 8pt;
	COLOR:#000066;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #FFFFFF;
	border: 1px solid #cfcfcf;

}
.TDTALBARPTROLESH {

	FONT-WEIGHT: bold;
	FONT-SIZE: 8pt;
	COLOR:#000066;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #DFE8EE;
	border: thin solid #000033;
}
H1.SaltoDePagina {
	page-break-before: always;
}
.TDTALBARPTROLESHV {


	FONT-WEIGHT: bold;
	FONT-SIZE: 8pt;
	COLOR:#000066;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #FEFFEA;
	border: thin solid #000033;
}
.divscroll {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	overflow: auto;
	height: 250px;
	width: auto;
}
.trTablaDatos_Con {
	BACKGROUND: #ffffff; 
}
.trTablaDatos_Res {
	BACKGROUND: #cccccc; 
}
 }
		      .head, .contents{
        width: 964px;
        border: 1px solid black;
      }
      table  {
        width: 100%;

      }
       
		  .contents {
        position: relative;
        height: 470px;
		overflow: auto;
      }
}
#ecop{ 
   visibility:visible; 

} 
#cop{ 
   visibility:visible; 
}
#trfila{
   visibility:visible; 
   display: none; 
}
}
@media print {
  /* style sheet for print goes here */
     
      .head, .contents{
        width: 900px;
        border: 1px solid black;

    
	  table  {
        width: 100%;
		border-collapse:collapse;
	      }
     
		  .contents {
	position: relative;
	height: 801px;
	overflow: visible;

      }
#ecop{ 
   visibility:hidden; 
   display: none; 
} 
#cop{ 
   visibility:hidden; 
   display: none; 
} 
#trfila{
   visibility:visible; 
 display: block; 

}
#raya{
   visibility:hidden; 
   display: none;  

}
}
