﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="frm_docAsociados.aspx.vb" Inherits="frm_docAsociados" Theme="SkinCompromisos"  StylesheetTheme="SkinCompromisos" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Página sin título</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="Label1" runat="server" Text="DOCUMENTOS ASOCIADOS"></asp:Label><br />
        <asp:GridView ID="grd1" runat="server" AutoGenerateColumns="False" SkinID="Gvw_little">
            <Columns>
                <asp:BoundField DataField="Reunion" HeaderText="Id Reunion" />
                <asp:BoundField DataField="nombre" HeaderText="Nombre archivo" />
            </Columns>
        </asp:GridView>
        <br />
        &nbsp;</div>
    </form>
</body>
</html>
