﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="logo.ascx.vb" Inherits="logo" %>
<table border="0" cellpadding="0" cellspacing="0" style="width: 186px">
    <tr>
        <td style="width: 100px; text-align: center;">
            <asp:Image ID="Image1" runat="server" ImageUrl="img/ecoep.gif" /></td>
    </tr>
    <tr>
        <td style="width: 100px; height: 24px; text-align: center;">
            <span style="font-size: 7pt; color: #006600; font-family: Verdana"><asp:Label ID="Label1" runat="server" Text="Copyright © 2009-Ecopetrol S.A" Width="176px"></asp:Label></span></td>
    </tr>
</table>
