BODY
{
 scrollbar-highlight-color: #cc9999;
 	background-image:url(../img/menu/backwall.gif);
            background-repeat:repeat-x;
} 

.Cuerpo {background: #FFFFFF;}

.EncTabla {
	COLOR:#EDF3E2;  background:#d7e1ec; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; FONT-SIZE: 8pt; 
	FONT-STYLE: normal; FONT-WEIGHT:  bold; LINE-HEIGHT: 12pt; 
}

#wrap { 
margin:0 auto 0 auto; 
width:672px; 

}

.DetTabla {
	BORDER-RIGHT: rgb(255,255,255) thin solid; BORDER-TOP: rgb(255,255,255) thin solid; BORDER-LEFT: rgb(255,255,255) thin solid; 
	BORDER-BOTTOM: rgb(255,255,255) thin solid;  FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; 
	FONT-SIZE: 9pt; FONT-STYLE: normal; LINE-HEIGHT: 12pt; background:#f2f5f9;
}


.DetTabla2 {
 FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; 
	FONT-SIZE: 9pt; FONT-STYLE: normal; LINE-HEIGHT: 12pt; background:#f2f5f9;
}

.DetTabla_small {
	BORDER-RIGHT: rgb(255,255,255) thin solid; BORDER-TOP: rgb(255,255,255) thin solid; BORDER-LEFT: rgb(255,255,255) thin solid; 
	BORDER-BOTTOM: rgb(255,255,255) thin solid;  FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; 
	FONT-SIZE: 8pt; FONT-STYLE: normal; LINE-HEIGHT: 12pt; background:#f2f5f9;
}


.DetTabla_blanco {
	BORDER-RIGHT: rgb(255,255,255) thin solid; BORDER-TOP: rgb(255,255,255) thin solid; 
	BORDER-LEFT: rgb(255,255,255) thin solid; BORDER-BOTTOM: rgb(255,255,255) thin solid;  
	FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-STYLE: normal; 
	LINE-HEIGHT: 12pt; background:0;
}

.trTablaResultados_Tit
{
    BACKGROUND: #008ecc
}

.tdTablaResultados_Tit
{
    BORDER-RIGHT: #eeeeee 1px solid;
    MARGIN: 1px;
    BORDER-BOTTOM: #eeeeee 1px solid
}

.trFila_Con {
	BORDER-RIGHT: rgb(255,255,255) thin solid; BORDER-TOP: rgb(255,255,255) thin solid; 
	BORDER-LEFT: rgb(255,255,255) thin solid; BORDER-BOTTOM: rgb(255,255,255) thin solid;  
	FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-STYLE: normal; 
	LINE-HEIGHT: 12pt; background:#f2f5f9;; 
}

.trFila_Res {
    background:#ffb7b7; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-STYLE: normal; 
}


.trFila_Con_small{
	BORDER-RIGHT: rgb(255,255,255) thin solid; BORDER-TOP: rgb(255,255,255) thin solid; 
	BORDER-LEFT: rgb(255,255,255) thin solid; BORDER-BOTTOM: rgb(255,255,255) thin solid;  
	FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-STYLE: normal; 
	LINE-HEIGHT: 12pt; background:#f2f5f9;; 
}

.trFila_Res_small {
    background:#f4f5dc; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-STYLE: normal; 
}


.Stit1 {background: #6F75C6   ;color: #FFFFFF;font-size: 13px;font-weight: bold;
 text-align: left;text-indent: 1px;padding: 0px 10px;font-family: verdana, arial, helvetica,sans-seriff;}
 
.Stit2 {background: #FFFFFF   ;color: #000000;font-size: 13px;font-weight: bold;
 text-align: left;text-indent: 1px;padding: 0px 10px;font-family: verdana, arial, helvetica,sans-seriff;}

.Stit3 {background: #FFFFFF   ;color: #000000;font-size: 14px;font-weight: bold;
 text-align: Center;text-indent: 1px;padding: 0px 10px;font-family: verdana, arial, helvetica,sans-seriff;}
 
.divTablaResultados_Tit
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 2px;
    COLOR: #ffffff;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial,tahoma,verdana,sans-serif;
    TEXT-ALIGN: Left;
    align: Left;
}

 
.Boton{
background: #FFCC00;color: #333300;font-size: 11px;padding: 0px 5px;font-weight: normal;text-decoration: blink;
border: 3px ridge #F8F3EA;font-family: Verdana, Arial, Helvetica, sans-serif;
}  
  
.Boton_gris{
background: #DEC4C0;color: #000000;font-size: 11px;padding: 0px 5px;font-weight: normal;text-decoration: none;
border: 3px ridge #F8F3EA;font-family: Verdana, Arial, Helvetica, sans-serif;CURSOR: hand;
}  
    
    
.Input1 {
  background: #FFFFFF;color:#000000;font-weight:normal; font-size:10px; text-align:left;border-left: 1px solid #FF7777;
  border-top: 1px solid #FF7777;border-right: 1px solid #8D2A22;border-bottom: 1px solid #8D2A22;
  font-family:verdana, arial, helvetica,sans-seriff;}
  
.Division {
   color: #000000;font-size: 10px;font-weight: bold;text-align: center;
   font-family: verdana, arial, helvetica,sans-seriff;}     

.Lista_gris{
background: #E9DA1F;color: #000000;font-size: 11px;padding: 0px 5px;font-weight: normal;text-decoration: none;
border: 3px ridge #F8F3EA;font-family: Verdana, Arial, Helvetica, sans-serif;
}  

.estilotabla_Gris{
  background: #EEEEEE;border: 1px solid #FF0000;padding: 3px;}


.Division_Blanca{
  background: #FFFFFF ;border: 1px solid #66CC00;padding: 3px;}
    
.estilocelda_gris_linearoja {
  background: #EEEEEE;color: #FF0000;font-size: 13px;font-weight: bold;text-align: center;text-indent: 40px;
  padding-left: 20px;padding-right: 20px;font-family: verdana, arial, helvetica,sans-seriff;z-index: 10;   
  }

.Etiqueta_Normal_Izquierda {
   color: #000000;font-size: 10px;font-weight: Normal;text-align: left;
   font-family: verdana, arial, helvetica,sans-seriff;}   
   
.Etiqueta_Normal_Derecha {
   color: #000000;font-size: 10px;font-weight: normal;text-align: right;
   font-family: verdana, arial, helvetica,sans-seriff;}   

.Etiqueta_Normal_Centro {
   color: #000000;font-size: 10px;font-weight: normal;text-align: center;
   font-family: verdana, arial, helvetica,sans-seriff;}   
   
.Etiqueta_Bold_Centro {
   color: #000000;font-size: 10px;font-weight: bold;text-align: center;
   font-family: verdana, arial, helvetica,sans-seriff;}   
   
.Etiqueta_Bold_Izquierda {
   color: #000000;font-size: 10px;font-weight: bold;text-align: center;
   font-family: verdana, arial, helvetica,sans-seriff;}   

.Etiqueta6 {
   color: #000000;font-size: 10px;font-weight: normal;text-align: right;
   font-family: verdana, arial, helvetica,sans-seriff;}   

.Etiqueta5 {
   color: #000000;font-size: 10px;font-weight: bold;text-align: left;
   font-family: verdana, arial, helvetica,sans-seriff;}   

.Etiqueta_Bold_roja {
  color: #FF0000;font-size: 12px;font-weight: bold;
 text-align: Center;text-indent: 1px;padding: 0px 10px;font-family: verdana, arial, helvetica,sans-seriff; 
  }
  
  
.Etiqueta_Bold_Izquierda {
   color: #000000;font-size: 10px;font-weight: bold;text-align: left;
   font-family: verdana, arial, helvetica,sans-seriff;}   

.subOptContainer {position: relative;top: 10px; left: 150px;z-index-2;} 
.subOptContainer1 {	position: relative;	top: 52px;	left: 130px;z-index-2;		width: 603px;	height: 38px;}
.subOptContainer2 {position: relative;top: 20px; left: 180px;z-index-2;}
.subOptContainer3 {position: relative;top: 50px; left: 60px;z-index-2;}
