.Vinculoportaloscuro
{
    COLOR: #003399;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 10pt;
    TEXT-DECORATION: none
}
.titulotemascentralesportal
{
    COLOR: #003399;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 10pt;
    TEXT-DECORATION: none
}
.textosbarralateralclaros
{
    COLOR: #99ccff;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    LIST-STYLE: url(/img/bullet.gif);
    TEXT-DECORATION: none
}
.textosbarralateraloscuro
{
    COLOR: #003366;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.Titulostablascyan
{
    COLOR: #006666;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.textogeneral
{
    COLOR: #000066;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 11pt;
    TEXT-DECORATION: none
}
.Titulos1azuloscuro12
{
    COLOR: #003366;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 12pt;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: normal;
    TEXT-DECORATION: none;
    TEXT-TRANSFORM: none
}
.VINCULOSTITULOSLISTAS
{
    COLOR: #0033ff;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.Titulos1azuloscuro10
{
    COLOR: #003366;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: normal;
    TEXT-DECORATION: none;
    TEXT-TRANSFORM: none
}
BODY
{
    MARGIN-LEFT: 0px;
    MARGIN-TOP: 3px;
	background-image:url(img/menu/backwall.gif);
    background-repeat:repeat-x;

}
INPUT
{
    FONT-FAMILY: Arial,verdana;
    FONT-SIZE: 10pt;
    HEIGHT: 20px
}
.Boton
{
    FONT-FAMILY: Arial,verdana;
    FONT-SIZE: 10pt;
    HEIGHT: 24px;
	background: #FFCC00;
}
.BotonImg {
	font-family:tahoma, sans-serif;
	font-size:14px;
	background: #FFCC00;
	border-bottom: 1px solid #104A7B;
	border-right: 1px solid #104A7B;
	border-left: 1px solid #AFC4D5;
	border-top:1px solid #AFC4D5;
	color:#000066;
	height:auto;
	text-decoration:none;
	cursor: hand;
	width: 100%;
	}

.EncTabla
{
    BACKGROUND: #d7e1ec;
    COLOR: #EDF3E2;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 12pt
}
.EncTabla2
{
    BACKGROUND: #D5DDBF;
    COLOR: #006600;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 12pt
}


.DetTablaNE
{
    COLOR: #333300;
    BACKGROUND: #EDF3E2;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    LINE-HEIGHT: 12pt
}

.SubDetTabla
{
    BORDER-BOTTOM: #ffffff thin solid;
    BORDER-LEFT: #ffffff thin solid;
    BORDER-RIGHT: #ffffff thin solid;
    BORDER-TOP: #ffffff thin solid;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    LINE-HEIGHT: 12pt
}
.GrisTablaOscuro {
	COLOR:#000000;  background:#cccccc; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-STYLE: normal; FONT-WEIGHT:  bold; LINE-HEIGHT: 12pt; 
}
.GrisTablaClaro {
	COLOR:#000000;  background:#EEEEEE; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-STYLE: normal; FONT-WEIGHT:  bold; LINE-HEIGHT: 12pt; 
}
.YellTabla {
	COLOR:#000000;  background:#FFFF99; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-STYLE: normal; FONT-WEIGHT:  bold; LINE-HEIGHT: 12pt; 
}
.TituloPrincipal
{
	FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
	FONT-SIZE: 9pt;
	FONT-STYLE: normal;
	FONT-WEIGHT: bold;
	LINE-HEIGHT: 12pt;
	border: thin none #ffffff;
}
.VinculoPpal
{
    COLOR: #003399;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 12pt;
    TEXT-DECORATION: underline
}
.VinculoComun
{
    COLOR: #003399;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 8pt;
    TEXT-DECORATION: underline
}
.TextoFecha
{
    COLOR: #003399;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 13pt;
    TEXT-DECORATION: none
}
.VinculoExterno
{
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 12pt;
    TEXT-DECORATION: underline
}
.ParrafoPpal
{
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 12pt;
    TEXT-DECORATION: none
}
.TituloCelda
{
    COLOR: #003399;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 12pt;
    TEXT-DECORATION: none
}
.TituloMensaje
{
    COLOR: #0000FF;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 12pt;
    TEXT-DECORATION: none
}
.TituloContenido
{
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 12pt;
    TEXT-DECORATION: none
}
.textoGeneral
{
    COLOR: #000066;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 11pt;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: #666699
}
A:active
{
    COLOR: #0000ff
}
A:hover
{
    COLOR: #ff7b46
}
