.Titulo1
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 14px;
    BACKGROUND-IMAGE: url(../imagenes/barra.jpg);
    TEXT-TRANSFORM: uppercase;
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: Arial;
    HEIGHT: 27px;
    TEXT-ALIGN: center
}
.CarpetaActual
{
    BORDER-LEFT: #c2c2c2 1px solid;
    HEIGHT: 100%;
    TEXT-ALIGN: center
}
.TablaDatos
{
    FONT-SIZE: 9pt;
    WIDTH: 100%;
    FONT-FAMILY: Arial
}
.TablaDatos TH
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 11px;
    TEXT-TRANSFORM: capitalize;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #fdf7ee
}
.TablaDatos TD
{
    FONT-SIZE: 12px;
    FONT-FAMILY: Arial
}
.Titulo2
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12px;
    TEXT-TRANSFORM: capitalize;
    FONT-FAMILY: Arial;
    HEIGHT: 15pt;
    TEXT-ALIGN: center
}
.TablaDatos TD INPUT
{
    BACKGROUND-POSITION: left top;
    FONT-SIZE: 10px;
    BACKGROUND-IMAGE: url(../imagenes/sombra.gif);
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: white
}
.CarpetaActual TD
{
    FONT-SIZE: 10px;
    FONT-FAMILY: Arial
}
.CarpetaActual TD INPUT
{
    BACKGROUND-POSITION: left top;
    FONT-SIZE: 10px;
    BACKGROUND-IMAGE: url(../imagenes/sombra.gif);
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: white
}
.CarpetaActual TD SELECT
{
    BACKGROUND-POSITION: left top;
    FONT-SIZE: 10px;
    BACKGROUND-IMAGE: url(../imagenes/sombra.gif);
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: white
}
.TablaDatos TD SELECT
{
    BACKGROUND-POSITION: left top;
    FONT-SIZE: 10px;
    BACKGROUND-IMAGE: url(../imagenes/sombra.gif);
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: white
}
.TituloCarpetaActual
{
    FONT-SIZE: 11px;
    FONT-FAMILY: Arial
}
.TituloOtrasCarpetas
{
    FONT-SIZE: 11px;
    FONT-FAMILY: Arial
}
.TablaBotones
{
}
.TablaBotones INPUT
{
    BORDER-RIGHT: lightgrey 1px solid;
    BORDER-TOP: lightgrey 1px;
    FONT-SIZE: 10px;
    BACKGROUND-IMAGE: url(../imagenes/sombra.gif);
    BORDER-LEFT: lightgrey 1px;
    WIDTH: 150px;
    BORDER-BOTTOM: lightgrey 1px solid;
    FONT-FAMILY: Arial;
    HEIGHT: 20px;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: center
}
.CajaTexto
{
    BACKGROUND-POSITION: left top;
    FONT-SIZE: 10px;
    BACKGROUND-IMAGE: url(../imagenes/sombra.gif);
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: white
}
.Lista
{
    BACKGROUND-POSITION: left top;
    FONT-SIZE: 10px;
    BACKGROUND-IMAGE: url(../imagenes/sombra.gif);
    WIDTH: 200px;
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: white
}
.Lista_p {
    BACKGROUND-POSITION: left top;
    FONT-SIZE: 9px;
    BACKGROUND-IMAGE: url(../imagenes/sombra.gif);
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: white
}
.CarpetaActual TD TEXTAREA
{
    BACKGROUND-POSITION: center top;
    FONT-SIZE: 10px;
    BACKGROUND-IMAGE: url(../imagenes/sombra.gif);
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: white
}
.TablaDatos TD TEXTAREA
{
    BACKGROUND-POSITION: left top;
    FONT-SIZE: 10px;
    BACKGROUND-IMAGE: url(../imagenes/sombra.gif);
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: white
}
.Texto
{
    FONT-SIZE: 10px;
    FONT-FAMILY: Arial
}
.TablaPrincipal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
}
.TablaPrincipal TD SELECT
{
    BACKGROUND-POSITION: left top;
    FONT-SIZE: 10px;
    BACKGROUND-IMAGE: url(../imagenes/sombra.gif);
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: white
}
body 
.tablaMenu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	

}
.tablaMenu TD{
	background-color: #00CCFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;

}

.itMenu{
	position: relative; 
	background:lightgrey; 
	visibility: hidden; 
	background-color: #00CCFF; 
	layer-background-color: #FFFFFF;
}
.itMenu a{
	color:black;
	font-family:verdana;
	text-decoration:underline
} 
.itMenu a:hover{
	color:black;
	font-family:verdana;
	font-weight:bold;
	text-decoration:underline
} 
.TablaDatosDate {

    FONT-SIZE: 9pt;
    WIDTH: 70px;
    FONT-FAMILY: Arial
}
.tablaMenu2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;

}
.tablaMenu2 TD{
	background-color: #669900;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color:white;
}

.itMenu2{
	position: relative; 
	background:lightgrey; 
	visibility: hidden; 
	background-color: #33CC00; 
	layer-background-color: #FFFFFF;
}
.itMenu2 a{
	color:black;
	font-family:verdana;
	text-decoration:underline
} 
.itMenu2 a:hover{
	color:black;
	font-family:verdana;
	font-weight:bold;
	text-decoration:underline
} 

.Boton{
background: #B9C75A;
color: #000000;
font-size: 11px;
padding: 0px 5px;
font-weight: normal;
text-decoration: none;
border: 3px ridge #F8F3EA;
font-family: Verdana, Arial, Helvetica, sans-serif;
}
