﻿body
{
	background: #EEF2DD;
}



.EncTabla2
{
    BACKGROUND: #D5DDBF;
    COLOR: #006600;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 12pt;
    
}

.texto
{  
    COLOR: #006600;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;   
    LINE-HEIGHT: 12pt
}


.Popups_clases
{
	
	background-color: #edf3e2;
}

.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}

.modalPopup {
	background-color:#ffffdd;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
	width:250px;
}

.Calendar1
{  
    COLOR: #006600;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    LINE-HEIGHT: 12pt;
    background-color:#ffffdd;
}


.accordionHeader
{
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #D5DDBF; 
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

#master_content .accordionHeader a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

#master_content .accordionHeader a:hover
{
	background: none;
	text-decoration: underline;
}

.accordionContent
{
    background-color:   #EEF2DD;
    border: 1px dashed #2F4F4F;
    border-top: none;
    padding: 5px;
    padding-top: 10px;
}


.tbCss2 
{
    table-layout: fixed;
    background: #EFEFFF;
    color: #333377;
    border-collapse: separate;
    border-spacing: 6px;
    border:1px solid #BAD405;
    font-size:11px;
    padding: 6px;
    border:2px groove #BAD405;
    line-height: 1.5em;
    white-space: nowrap;
    font-family: verdana,arial,helvetica,sans-serif;
    } 
.tb2CaptionTop 
{
    caption-side: top;
    background: #00cc66;
    color:#191970;
    border-top:1px solid #191970;
    border-left:1px solid #191970;
    border-right:1px solid #191970;
    font-weight: bold;
    font-size:11px;
    font-family: verdana,arial,helvetica,sans-serif;
    } 
.tb2CaptionBottom 
{
    caption-side: bottom;
    background: #EFEFFF;
    color:#191970;
    border-bottom: 1px solid #191970;
    border-left: 1px solid #191970;
    border-right: 1px solid #191970;
    font-style: italic;
    font-weight: bold;
    font-size:11px;
    font-family: verdana,arial,helvetica,sans-serif;
    } 
.tbHeader2 
{
    background:#004236;
    color: #FFFFFF;
    font-size:11px;
    font-weight: bold;
    padding: 6px;
    border:2px groove #BAD405;
    line-height: 1.5em;
    white-space: nowrap;
    font-family: verdana,arial,helvetica,sans-serif;
   
    } 
.tbSubHeader2 
{
    background: #BAD405;
    color: #191970;
    font-size:11px;
    font-weight: bold;
    padding: 6px;
    border:2px groove #BAD405;
    line-height: 1.5em;
    white-space: nowrap;
    font-family: verdana,arial,helvetica,sans-serif;
    } 
.tdCss2 
{
    background: #FFFFFF;
    padding: 4px;
    border:1px solid #BAD405;
    } 
     
   /*Modal Popup*/
.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}  
.modalPopup {
	background-color:#ffffdd;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
	width:250px;
}


 .MyCalendar .ajax__calendar_container {
    border:1px solid Green;
    background-color: white;
    color:Black;
    font-style:normal;
    font-weight:bold;
    font-family:Verdana;
    font-size:x-small;
}
.MyCalendar .ajax__calendar_header {background-color:YellowGreen; color:White;font-size: x-small;}
.MyCalendar .ajax__calendar_days, .ajax__calendar_months, .ajax__calendar_years {font-size: xx-small; font-family:Verdana; color:Black;}
.MyCalendar .ajax__calendar_body {font-size: xx-small; font-family:Verdana; color:Black; background-color:#EDF3E2 }
.MyCalendar .ajax__calendar_container TABLE {font-size: xx-small; font-family:Verdana;}
.MyCalendar .ajax__calendar_dayname { color:Black;}
.MyCalendar .ajax__calendar_title {cursor:pointer;font-weight:bold; background-color:#7A9B2A; color:White;}
.MyCalendar .ajax__calendar_footer { background-color:#7A9B2A; color:White;}
.MyCalendar .ajax__calendar_other .ajax__calendar_day,
.MyCalendar .ajax__calendar_other .ajax__calendar_year {
    color: gray;
}
.MyCalendar .ajax__calendar_hover .ajax__calendar_day,
.MyCalendar .ajax__calendar_hover .ajax__calendar_month,
.MyCalendar .ajax__calendar_hover .ajax__calendar_year {
    color: black;
}
.MyCalendar .ajax__calendar_active .ajax__calendar_day,
.MyCalendar .ajax__calendar_active .ajax__calendar_month,
.MyCalendar .ajax__calendar_active .ajax__calendar_year {
    color: black;
    font-weight:bold;
}    