.Vinculoportaloscuro
{
    COLOR: #003399;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 10pt;
    TEXT-DECORATION: none
}
.titulotemascentralesportal
{
    COLOR: #003399;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 10pt;
    TEXT-DECORATION: none
}
.textosbarralateralclaros
{
    COLOR: #99ccff;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    LIST-STYLE: url(/img/bullet1.gif);
    TEXT-DECORATION: none
}
.textosbarralateraloscuro
{
    COLOR: #003366;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.Titulostablascyan
{
    COLOR: #006666;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.textogeneral
{
    COLOR: #000066;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 11pt;
    TEXT-DECORATION: none
}
.Titulos1azuloscuro12
{
    COLOR: #003366;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 12pt;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: normal;
    TEXT-DECORATION: none;
    TEXT-TRANSFORM: none
}
.VINCULOSTITULOSLISTAS
{
    COLOR: #0033ff;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.Titulos1azuloscuro10
{
    COLOR: #003366;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: normal;
    TEXT-DECORATION: none;
    TEXT-TRANSFORM: none
}
BODY
{
    MARGIN-LEFT: 0px;
    MARGIN-TOP: 3px;
    scrollbar-face-color: #2668B3;
    scrollbar-shadow-color: #69A2E3;
    scrollbar-highlight-color: #69A2E3;
    scrollbar-3dlight-color: #336699;
    scrollbar-darkshadow-color: black;
    scrollbar-track-color: white;
    scrollbar-arrow-color: #FFFFCE
}
INPUT
{
    FONT-FAMILY: Arial,verdana;
    FONT-SIZE: 10pt;
    HEIGHT: 20px
}
.Boton
{
    FONT-FAMILY: Arial,verdana;
    FONT-SIZE: 10pt;
    HEIGHT: 24px
}
.EncTabla
{
    BACKGROUND: #d7e1ec;
    COLOR: #000080;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 12pt
}
.DetTabla
{
    BACKGROUND: #f2f5f9;
    BORDER-BOTTOM: #ffffff thin solid;
    BORDER-LEFT: #ffffff thin solid;
    BORDER-RIGHT: #ffffff thin solid;
    BORDER-TOP: #ffffff thin solid;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    LINE-HEIGHT: 12pt
}
.DetTabla1
{
    BORDER-BOTTOM: #ffffff thin solid;
    BORDER-LEFT: #ffffff thin solid;
    BORDER-RIGHT: #ffffff thin solid;
    BORDER-TOP: #ffffff thin solid;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    LINE-HEIGHT: 12pt
}

.TituloPrincipal
{    
	BORDER-BOTTOM: #ffffff thin solid;
    BORDER-LEFT: #ffffff thin solid;
    BORDER-RIGHT: #ffffff thin solid;
    BORDER-TOP: #ffffff thin solid;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 12pt
}

.VinculoPpal
{
    COLOR: #003399;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 12pt;
    TEXT-DECORATION: underline
}
.VinculoComun
{
    COLOR: #003399;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 8pt;
    TEXT-DECORATION: underline
}
.TextoFecha
{
    COLOR: #003399;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 13pt;
    TEXT-DECORATION: none
}
.VinculoExterno
{
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 12pt;
    TEXT-DECORATION: underline
}
.ParrafoPpal
{
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 12pt;
    TEXT-DECORATION: none
}
.TituloCelda
{
    COLOR: #003399;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 12pt;
    TEXT-DECORATION: none
}

.TituloMensaje
{
    COLOR: #0000FF;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 12pt;
    TEXT-DECORATION: none
}
.TituloContenido
{
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 12pt;
    TEXT-DECORATION: none
}
.textoGeneral
{
    COLOR: #000066;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 11pt;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: #666699
}
A:active
{
    COLOR: #0000ff
}
A:hover
{
    COLOR: #ff7b46
}
