<%@ Page Language="VB" MasterPageFile="~/Evaluaciones/Plantilla/P_Plantilla_Aux.master" AutoEventWireup="false" CodeFile="Nuevo_Item.aspx.vb" Inherits="Evaluaciones_Formularios_Nuevo_Item" title="Nuevo Item a Evaluar " %>
<asp:Content ID="Content1" ContentPlaceHolderID="CntCuerpo" Runat="Server">
    <table border="0" cellpadding="0" cellspacing="0" style="width: 90%">
        <tr>
            <td style="width: 10%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 10%">
            </td>
        </tr>
        <tr>
            <td style="width: 10%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 10%">
            </td>
        </tr>
        <tr>
            <td style="width: 10%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 10%">
            </td>
        </tr>
        <tr>
            <td style="width: 10%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 10%">
            </td>
        </tr>
        <tr>
            <td style="width: 10%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 10%">
            </td>
        </tr>
        <tr>
            <td style="width: 10%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 10%">
            </td>
        </tr>
        <tr>
            <td style="width: 10%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 10%">
            </td>
        </tr>
        <tr>
            <td style="width: 10%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 10%">
            </td>
        </tr>
        <tr>
            <td style="width: 10%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 10%">
            </td>
        </tr>
        <tr>
            <td style="width: 10%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 20%">
            </td>
            <td style="width: 10%">
            </td>
        </tr>
    </table>
</asp:Content>

