<%@ Page Language="VB" MasterPageFile="~/Evaluaciones/Plantilla/P_Plantilla_Aux.master" AutoEventWireup="false" CodeFile="otro.aspx.vb" Inherits="Evaluaciones_Formularios_otro" title="Untitled Page" %>

<%@ Register Assembly="netchartdir" Namespace="ChartDirector" TagPrefix="chart" %>
<asp:Content ID="Content1" ContentPlaceHolderID="CntCuerpo" Runat="Server">
    &nbsp;
</asp:Content>

