﻿body 
{
    background-attachment: fixed;
    background-image:url(../../img/menu/backwall.gif);
    background-repeat:repeat-x;
}
titulo
{
    background-image: url(../../img/barra2.JPG);
     font-family:Verdana;
     font-size:16;
     color:White;
}

 .MyCalendar .ajax__calendar_container {
    border:1px solid Green;
    background-color: white;
    color:Black;
    font-style:normal;
    font-weight:bold;
    font-family:Verdana;
    font-size:x-small;
}
.MyCalendar .ajax__calendar_header {background-color:YellowGreen; color:White;font-size: x-small;}
.MyCalendar .ajax__calendar_days, .ajax__calendar_months, .ajax__calendar_years {font-size: xx-small; font-family:Verdana; color:Black;}
.MyCalendar .ajax__calendar_body {font-size: xx-small; font-family:Verdana; color:Black; background-color:#EDF3E2 }
.MyCalendar .ajax__calendar_container TABLE {font-size: xx-small; font-family:Verdana;}
.MyCalendar .ajax__calendar_dayname { color:Black;}
.MyCalendar .ajax__calendar_title {cursor:pointer;font-weight:bold; background-color:#7A9B2A; color:White;}
.MyCalendar .ajax__calendar_footer { background-color:#7A9B2A; color:White;}
.MyCalendar .ajax__calendar_other .ajax__calendar_day,
.MyCalendar .ajax__calendar_other .ajax__calendar_year {
    color: gray;
}
.MyCalendar .ajax__calendar_hover .ajax__calendar_day,
.MyCalendar .ajax__calendar_hover .ajax__calendar_month,
.MyCalendar .ajax__calendar_hover .ajax__calendar_year {
    color: black;
}
.MyCalendar .ajax__calendar_active .ajax__calendar_day,
.MyCalendar .ajax__calendar_active .ajax__calendar_month,
.MyCalendar .ajax__calendar_active .ajax__calendar_year {
    color: black;
    font-weight:bold;
}    
     
     
   /*Modal Popup*/
.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}  

.modalPopup {
	background-color:#ffffdd;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
	width:250px;
}
