﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="prg_reunion.aspx.vb" Inherits="r_calendar_prg_reunion"  %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
    <style type="text/css">
        .style1
        {
            width: 100%;
        }
        .style2
        {
            width: 198px;
        }
        #form1
        {
            height: 187px;
            width: 651px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
 
    <asp:TextBox ID="tx1" runat="server"></asp:TextBox>
 
    <br />
    <br />
    <table class="style1">
        <tr>
            <td class="style2">
                Tipo de Reunion:</td>
            <td>
                <asp:DropDownList ID="dl1" runat="server">
                </asp:DropDownList>
            </td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td class="style2">
                Nombre Reunion Nueva:</td>
            <td>
                <asp:TextBox ID="TextBox1" runat="server" Width="383px"></asp:TextBox>
            </td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td class="style2">
                Moderador</td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
    </table>
    <br />
    <br />
 
    <asp:GridView ID="grid1" runat="server" AllowPaging="True">
    </asp:GridView>
 
    </form>
</body>
</html>
